
body{
  display: flex;
  justify-content: center;
  margin-top: 100px;

}


.trafficLight {
      background-color: black;
      width: 100px;
      height: 370px;
      border-radius: 20px;
      padding: 25px;
      
}

.rojo {
  margin-top: 20px;  
  border-radius: 50%;
  background-color:  red;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  
}

.naranja {
  border-radius: 50%;
  background-color: orange;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
}

.verde {
  border-radius: 50%;
  background-color: green;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
}
.on {
  box-shadow: 0 0 20px 10px yellowgreen; 
}
.palo{
  width: 30px;
  height: 100px;
  background-color: black;
  margin-left: 60px;
}